*{
    box-sizing: border-box;
}
html,body{
    padding: 0;
    margin: 0;
    font-family: verdana, arial, sans-serif;
}
body{
    color: #fff;
    font-size: 1.1em;
    padding: 1em;
    display: flex;
    flex-direction:column;
}
main{
    display: flex;
    flex-direction: column;
}
article{
    background-color: rgba(248, 6, 46, 0.424);
    flex:2 2 12em;
    padding: 1em;
}
nav,aside{
    flex:1;
    background-color: rgb(163, 0, 0);
}
nav{
    order: -1;
}
header,footer{
    flex: 0 0 5em;
    background-color: white;
}
@media screen and (min-width: 600px){
    body{
        min-height: 100vh;
    }
    main{
        flex-direction: row;
        min-height: 100%;
        flex: 1 1 auto;
    }
}
ul.nav1{
    margin-top:20px;
    margin-bottom: 0px;
    padding-left: 0px;
    list-style: none;
}
ul.nav1 a{
    display: block;
    width: 7em;
    padding: 10px;

    background-color: red;
    border-top:1px solid #333;
    border-right:1px solid #333;
    border-left:1px solid #333;
    color: #333;
    text-align: center;
    text-decoration: none;

}

ul.nav1 a:hover{
    color:#f4f4f4;
    background-color: red;
}
footer{
    border-top:1px solid black;
}
footer p{
    color: black;
}
h1,p{
    color: red;
}